<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>The Home Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia reprehenderit voluptate, molestiae facere
        placeat quas sequi accusamus unde cumque nesciunt cupiditate voluptatum deleniti iure earum id tenetur beatae
        quasi voluptas Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, accusamus animi? Quo, vitae
        corrupti exercitationem autem ut enim perspiciatis adipisci debitis sit natus id voluptatum illo obcaecati
        iusto, eligendi expedita.</p>

    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni dolorum cumque exercitationem rerum perspiciatis
        cupiditate at laborum, veritatis, iusto repudiandae praesentium aliquam nostrum alias libero natus iure
        repellendus voluptatum consectetur.
    </p>
</body>

</html>