<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %> <!-- ✅ 올바른 문법 -->



    <%- include('partials/navbar') %>
        <h1>The Home Page <%= 'Hello word' .toUpperCase() %>
        </h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia reprehenderit voluptate, molestiae
            facere
            placeat quas sequi accusamus unde cumque nesciunt cupiditate voluptatum deleniti iure earum id tenetur
            beatae
            quasi voluptas Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, accusamus animi? Quo,
            vitae
            corrupti exercitationem autem ut enim perspiciatis adipisci debitis sit natus id voluptatum illo
            obcaecati
            iusto, eligendi expedita.</p>

        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni dolorum cumque exercitationem rerum
            perspiciatis
            cupiditate at laborum, veritatis, iusto repudiandae praesentium aliquam nostrum alias libero natus iure
            repellendus voluptatum consectetur.
        </p>
        <%- include('partials/footer')%>